{% extends "base.html" %}
{% block content %}
<h1 style="margin: 1rem; text-align: center;"> Database ID</h1>
<div class="div1 container">
  <form method="POST" class="form1">
    <input type = "text" style = "width: 30rem;" class="form-control" name = "data" >
    <input type="submit" name = "button" value="read database" class="input1 btn btn-primary d-inline-flex align-items-center">
  </form>
</div>
<div class="container">
    <h2>{{message}}</h2>
    <p class="h4">Test DatabaseID: 36c218d22aa34ec0be75ac4946c96135 </p>
</div>
{% endblock %}
