{% extends "base.html" %}
{% block content %}
<div class="container" style="text-align: center;">
  <h1> Database ID</h1>
  <div class="mb-3">
    <form method="POST">
      <br>
      <input type="text" class="form-control" name="data" >
      <br>
      <input type="submit" name="button" value="read database"
        class="input1 btn btn-primary d-inline-flex align-items-center">
    </form>
  </div>
  <div class="container">
    <h2>{{message}}</h2>
    <p class="h4">Test DatabaseID: 36c218d22aa34ec0be75ac4946c96135 </p>
  </div>
</div>
{% endblock %}
